<div class="h-100">
  <form action="/authentication/login" method="post" title="login form">
    <input
      type="text"
      name="redirectUrl"
      id="redirectUrl"
      value="<%= redirectUrl %>"
      hidden
    />
    <div class="form-group">
      <label for="username">User name</label>
      <input
        name="username"
        type="text"
        class="form-control"
        id="username"
        aria-describedby="usernameHelp"
        placeholder="Enter username"
      />
      <small id="usernameHelp" class="form-text text-muted"
        >Input your username here.</small
      >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="password"
      />
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe" />
      <label class="form-check-label" for="rememberMe">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
